<!--
<div id="login-screen" class="full-size">
    <div id="login-image-container">
        <img id="loading-image" src="assets/img/creative-team.png">
    </div>
    <div id="login-form-container">
        <form id="login-form" #loginForm="ngForm" (ngSubmit)="onLogin()" va>
            <h1>WELCOME</h1>
            <div>
                <i class="fas fa-user"></i>
                <input name="username" [(ngModel)]="userLogin.username" type="text"  
                required minlength="5"/>
            </div>
            <div>
                <i class="fas fa-key"></i>
                <input name="password" [(ngModel)]="userLogin.password" type="password" 
                required minlength="5"/>
            </div>
            <div *ngIf="error">
                <span>{{error.message}}</span>
            </div>
            <div>
                <button type="submit" [disabled]="!loginForm.valid">LOGIN</button>
            </div>
        </form>
    </div>
</div>
-->

<div id="signin-selector-main" class="full-size">

    <img id="loading-image" src="assets/img/creative-team.png">
    <div id="signin-selector-container">
        <div id="signin-title">
            Blondimy
        </div>
        <div id="sigin-selector-container">
            <span [ngClass]="{'mode-selected': onLoginMode()}">LOG IN</span> 
            <label class="switch" for="mode-switch">
                <input id="mode-switch" type="checkbox" 
                (change)="checkValue($event)"
                >
                <span class="slider round"></span>
                </label>
            <span [ngClass]="{'mode-selected': onSigninMode()}">SIGN IN</span> 
        </div>
        <div id="signin-selector-body">
            <form id="login-form" #loginForm="ngForm" (ngSubmit)="submit()" va>
                <div>
                    <h1>WELCOME</h1>
                </div>
                <div id="login-fields">
                    <div>
                        <input class="input" name="username" [(ngModel)]="userLogin.username" type="text"  
                        required minlength="5"
                        placeholder="Username" />
                    </div>
                    <div>
                        <input class="input" name="password" [(ngModel)]="userLogin.password" type="password" 
                        required minlength="5"
                        placeholder="Password"/>
                    </div>
                    <div id="error-container" *ngIf="error">
                        <span>{{error}}</span>
                    </div>
                </div>
                <div style="width: 100%;">
                    <button id="submit-button" type="submit" [disabled]="!loginForm.valid">LOGIN</button>
                </div>
            </form>
        </div>
    </div>
</div>